<nav class="navbar navbar-expand-lg navbar-light text-center bg-light d-flex justify-content-between p-4" data-bs-theme="dark">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav text-center">
      <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Registeration</a>
      <a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/students">Students</a>
      <a routerLinkActive="active" routerLink="/students/1">Students Details</a>
      <a routerLinkActive="active" routerLink="/jbjbjk">Error</a>
    </div>
  </div>
</nav>
