<div class="card text-center w-25 mx-auto" style="margin-top: 50px;">
    <div class="card-header">
      Student Details
    </div>
    <div class="card-body">
      <h5 class="card-title">Student</h5>
      <p class="card-text">Id:{{id}}</p>
      <p class="card-text">name: {{student.name}}</p>
      <p class="card-text">age: {{student.age}}</p>
      <p class="card-text">phone: 12345</p>
      <p class="card-text">address: Abd El-nasser</p>
      <p class="card-text">email: nehad@example.com</p>
    </div>
  </div>
